.img-about {
  width: 300px;
  height: auto;
}

.about {
  background-image: url(../assets/background/background-1920x-px.png);
  color: white;
  text-align: center;
}

.about h1 {
  font-weight: 700;
  padding-top: 0.5rem;
  font-family: 'Bebas Neue', cursive;
}

.about p {
  font-family: 'Oswald', sans-serif;
}

.about img {
  box-shadow: 5px 10px 10px rgb(0, 0, 0);
}

@media (min-width: 768px) {
  .about {
    text-align: left;
  }
}
