.product-main {
  background-image: url(../assets/background/background-1920x-px.png);
  color: white;
  text-align: center;
}

.product-main h1 {
  font-weight: 700;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.circle-img {
  width: 300px;
  height: auto;
  clip-path: circle(50% at 50% 50%);
}

.product-main h4 {
  font-family: 'Bebas Neue', cursive;
  margin-top: 5px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

@media (min-width: 768px) {
  .circle-img {
    width: 200px;
    height: auto;
    clip-path: circle(50% at 50% 100%);
    margin-top: -80px;
  }
}
